html {
  transition: none;
  background-size: cover;
  background: url("black.jpg") no-repeat center center fixed;
  background-blend-mode: darken;
  transition: 3s;
}

*{
  transition: none;
  font-family: 'Lato', sans-serif;
  color: white;
}

.honorable {
  font-size: 30px;
  margin-top: 0px;
}

.backtohub{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  top: -10px;
}

h2 {
  margin-bottom: 0px;
  font-weight: 100;
}

.stats{
  font-weight: 100;
  margin-bottom: 0px;
  margin-top: 0px;
}

.icons{
  margin: 2px;
  padding: 0px;
  vertical-align: middle;
}

h3 {
  font-size: 60px;
  margin-bottom: 10px;
}


.content {
  max-width: 1000px;
  margin: auto;
  background-color: rgba(0, 0, 0, .5);
  display: block;
  padding: 15px;
}



.preload-images{
  background: url("static/black.jpg") no-repeat -9999px -9999px;
  background: url("static/paulgeorge.jpg") no-repeat -9999px -9999px;
  background: url("static/anthony.jpg") no-repeat -9999px -9999px;
  background: url("static/lamarcus.jpg") no-repeat -9999px -9999px;
}
